@font-face {
    font-family: 'cursedtimer';
    src: url(fonts/CursedTimerULiL.ttf);
}


body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:25px;
    background-color: #9AABD8;
}

h3 {
    padding: 0px;
}
.header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}


.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 700px;
    margin: 10px auto;
    border: 6px solid white;
    border-radius: 10px;
    padding: 40px;
}

.guidelines {
    border: 1px dotted blue;
}

.flex-container {
    background-color: #1B244A;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 180px;
    margin: 30px auto;
  
    
}

.score-window {
    background-color: black;
    width:170px;
    height: 135px;
    border-radius: 3px;
    margin: 5 0 18 0;
}

.score {
    font-size: 110px;
    font-family: 'cursedtimer';
    color: #F94F6D;
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;

}

.button-container {
    display: inline;
    width: 180px;
    justify-content: space-between;
    text-align: center;
}

#score1-btn {
    background-color: #1B244A;
    font-family: 'cursedtimer';
    font-size: 20px;
    width: 50px;
    align-items: center;
    height: 50px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #9AABD8;
    color: #9AABD8;



}

#score2-btn {
    background-color: #1B244A;
    font-family: 'cursedtimer';
    font-size: 20px;
    width: 50px;
    align-items: center;
    height: 50px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #9AABD8;
    color: #9AABD8;

}

#score3-btn {
    background-color: #1B244A;
    font-family: 'cursedtimer';
    font-size: 20px;
    width: 50px;
    align-items: center;
    height: 50px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #9AABD8;
    color: #9AABD8;

}

#home-score {
    color: #BE123C;
}

#guest-score {
    color: #BE123C;
}